body{
    margin:0;
    padding:0;
    background-color: black;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 200vh;
    color:white;

}
.container{
    display: grid;
    grid-template-columns: 22vw 78vw;
    grid-template-rows: 1fr 1fr;
}
.left {
    width:21vw;
    /* left:0; */
    top:0;

    position: fixed;
    /* background-color: red; */
    /* height:100vh; */
    order:1;

  

}

.right{
    width:72vw;
    right: 0;
    order: 2;
    height:200vh;
    position: relative;
    /* overflow: scroll; */
    margin-left: 22vw;
    margin-top: 1vw;
    border-radius: 5px;
    background-color: #121212;
    padding:1vw 2vw;
    /* margin: 1vw;/ */
 
}
.home{
    height:25vh;
    width:100%;
    border-radius: 5px;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.library{
    height:75vh;
}
.home > img{
    margin-left: 1vw;
    width:10vw;
    height:7vh;
    margin-bottom: 2vh;
}
.home ul img{
    width:2vw;
    height:4vh;
}
.home ul li{
    list-style: none;
}
.home ul li span{
    color:white;
    /* font-weight: bolder; */
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    gap:1.5vw;
 
}
.home ul{
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3vh;
}
.library span{
    display: flex;
    gap:.5vw;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.5vw;
    height:10vh;
    /* margin-top: 3vw; */
}
.library span >img{
    width:3vw;
    height:6vh
}
.lib-cont{
    /* position: relative; */
    /* height:1000vh; */
    width: 95%;
    margin:1vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
    grid-auto-flow: row;
    grid-gap:1vw;
    overflow: scroll;
    background-color: black;
}
 .lib-box{
    margin: 0.5vw;
    background-color: rgb(44, 43, 43);
    /* margin-bottom: 0.5vw; */
    padding:0vh 0.5vw;
    /* border: 2px pink solid; */
    /* position: absolute; */
    width: 100%;
    border-radius:3px;


    /* top:-1000px; */
    
    height:25vh;


    
}
.create-playlist{
    /* background-color: red; */

}
.podcasts{
    /* background-color: blue; */
    
}
.lib-sym{
    
    width:6.5vw;
    margin-left: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.plus{
    width:2.5vw;
    height: 5vh;
}
.arrow{
    width:2vw;
    height: 3.5vh;
    /* padding:0.2vw; */
}
.right-l1{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right h1{
    font-size: 3vw;
}
.right h4{
    font-size:1.2vw;
}

.nav > p{
    display: flex;
    align-items: center;

}
.nav p > img{
    width:3vw;
    height: 8vh;
}
.nav{
    top:0vw;
    left: 22vw;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 77%;
    height:17vh;
}
.nav p{
   margin-right:4vw;
   font-weight: bold;
}
.for-back{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.forward-sym{
    width:2.5vw;
    height: 5vh;
    
}
.back-sym{
    width: 4vw;
    height: 8vh;
}

.playlist-cont{
    height:100vh;
    /* background-color: #282828; */
    /* display: grid;
    width:100%;
    grid-template-columns: 1 ;
    grid-auto-rows: auto auto;
    /* grid-auto-flow: row; */
    /*margin-top: 2vh; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Space between boxes */
}
.playlist-box{
    height:270px;
    /* background-color: #282828; */
    /* margin:2vh 1vw; */
    /* width:160px; */
    flex: 0 1 180px; /* Grow, shrink, base size */
    /* background-color: lightblue; */
    padding: 10px;
    /* margin: 5px; */
    box-sizing: border-box;
    /* text-align: center; */
    border-radius: 5px;
    /* margin-top: 5vw; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
.playlist-box > img{
    /* position: absolute; */
    width:150px;
    height:170px;
    border-radius: 5px;
    /* left:8px; */
    /* top:10px; */

}
.playlist-box h4{
    margin-top: 10px;
    font-size: 17px;
    height:15px;
}
.playlist-box p{
    font-size: 13px;
    margin-top: -12px;
    color:rgb(162, 165, 168)
}