body{
    margin:0;
    padding:0;
    background-color: black;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    color:white;

}
.container{
    display: grid;
    grid-template-columns: 22vw 78vw;
    grid-template-rows: 1fr 1fr;
}
.left {
    width:21vw;
    /* left:0; */
    top:0;

    position: fixed;
    /* background-color: red; */
    /* height:100vh; */
    order:1;

  

}

.right{
    width:72vw;
    right: 0;
    order: 2;
    height:200vh;
    /* overflow: scroll; */
    margin-left: 22vw;
    margin-top: 1vw;
    border-radius: 5px;
    background-color: #121212;
    padding:1vw 2vw;
    /* margin: 1vw;/ */
 
}
.home{
    height:25vh;
    width:100%;
    border-radius: 5px;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.library{
    height:75vh;
    /* position: relative; */
    /* display: grid;
    grid-template-rows: 1fr 3fr 2fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}
.home > img{
    margin-left: 1vw;
    width:10vw;
    height:7vh;
    margin-bottom: 2vh;
}
.home ul img{
    width:2vw;
    height:4vh;
}
.home ul li{
    list-style: none;
}
.home ul li span{
    color:white;
    /* font-weight: bolder; */
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    gap:1.5vw;
 
}
.home ul{
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3vh;
}
.library span{
    display: flex;
    gap:.5vw;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.5vw;
    height:10vh;
    /* margin-top: 3vw; */
}
.library span >img{
    width:3.5vw;
    height:7vh
}
.lib-cont{
    /* position: relative; */
    /* height:1000vh; */
    width: 95%;
    margin:1vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
    grid-auto-flow: row;
    grid-gap:1vw;
    overflow: scroll;
    background-color: black;
}
 .lib-box{
    margin: 0.5vw;
    background-color: rgb(44, 43, 43);
    /* margin-bottom: 0.5vw; */
    padding:1vh 1vw;
    /* border: 2px pink solid; */
    /* position: absolute; */
    width: 100%;
    border-radius:3px;


    /* top:-1000px; */
    
    height:25vh;


    
}
.create-playlist{
    /* background-color: red; */

}
.podcasts{
    /* background-color: blue; */
    
}
.lib-sym{
    
    width:6.5vw;
    margin-left: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.plus{
    width:3vw;
    height: 6vh;
}
.arrow{
    width:2vw;
    height: 5vh;
    /* padding:0.2vw; */
}
.right-l1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}